.datasource-selector {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--border-main-color);
}
    .datasource-selector .e-label {
    }