html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
}
@property --main-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #f6f9f9;
}
@property --super-light-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: white;
}

@property --component-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}
@property --font-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #333333;
}
@property --font-dark-color {
    syntax: "<color>";
    inherits: false;
    initial-value: black;
}
@property --font-super-light-color {
    syntax: "<color>";
    inherits: false;
    initial-value: white;
}
@property --font-light-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #A1BFC7;
}

/* Barva specifická pro aplikaci - pro AVA je to AVA taková tyrkysová  */
@property --app-specific-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #3eced0;
}
