/*
    Toto je css pro pro formuláře
*/
/* Detail formuláře */
.detail-form {
    padding: 20px;
    background-color: var(--component-bg-color);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
}

    .detail-form h4 {
        margin-bottom: 20px;
        color: var(--app-specific-color);
    }
/* Řádek formuláře */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
/* Skupina controlů ve formuláři */
.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .form-group.full-width {
        flex: 1 1 100%;
    }

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--font-dark-color);
    }
/* Akce ve fomuláři, Tlačítka Uložit, Zrušit apodobně */
.form-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}