@using AVAIntegrationModeler.Contracts.DTO
@using AVAIntegrationModeler.Web.Components.Widgets.IncludedFeatureWidget

<MudText Typo="Typo.h6" Class="mb-3">Zahrnuté featury</MudText>

@if (Features == null || !Features.Any())
{
    <MudText Typo="Typo.body2" Color="Color.Secondary">Žádné zahrnuté featury</MudText>
}
else
{
    <MudDataGrid Items="@Features" Dense="true" Hover="true" >
        <Columns>
            <PropertyColumn Property="x => x.Feature.Code" 
                            Title="Kód"
                            CellClass="included-features-widget-code-column"
                            HeaderClass="included-features-widget-code-column" />
            <PropertyColumn Property="x => x.ConsumeOnly" Title="Pouze konzumace">
                <CellTemplate>
                    @if (context.Item.ConsumeOnly)
                    {
                        <span>Ano</span>
                    }
                    else
                    {
                        <span>Ne</span>
                    }
                </CellTemplate>
            </PropertyColumn>
        </Columns>
    </MudDataGrid>
}

<style>
    .included-features-widget-code-column {
        width: 30%;
        max-width: 30%
    }
</style>