name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Add public Azure Artifacts feed
      run: |
        dotnet nuget add source "https://pkgs.dev.azure.com/avaspace/feed/_packaging/feed/nuget/v3/index.json" --name AVAFeed

    - name: Restore dependencies
      run: dotnet restore AVAIntegrationModeler/AVAIntegrationModeler.sln

    - name: Build
      run: dotnet build AVAIntegrationModeler/AVAIntegrationModeler.sln --no-restore
